* {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: Roboto, sans-serif;
}

*:hover *:focus {
    outline: none;
}

input {
    margin: 24px;
    padding: 8px;
    padding-left: 20px;
    height: 28px;
    width: 450px;
    border: 1px solid lightgray;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    border-radius: 25px;;
}

input:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 3px 3px gainsboro;
}

button {
    margin: 8px;
    padding: 8px;;
}

.apps {
    width: 32px;
    position: relative;
    top: 12px;
    padding-right: 8px;
    padding-left: 8px;
    opacity: 0.7;
    height: auto;
}

.logo {
    padding-top: 109px;  /* from inspect element in Google site;*/
}

.blue-button {
    background-color: dodgerblue;
    color: white;
    font-weight: 600;
    border: 1px solid dodgerblue;
    border-radius: 2px;
}

.gray-button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #454545;
    font-weight: 400;
    border-radius: 2px;
    padding: 12px;
}

.gray-button:hover {
    border: 1px solid lightgray;
    background-color: #f5f5f5;
}

.gray-button:focus {
    border: 1px solid lightgray;
    background-color: #f5f5f5;
}

header {
    width: 98%;
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: baseline;
}
header a {
    color: darkslategray;
    font-size: 14px;
    margin: 8px;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertical {
    flex-direction: column;

}

.flex-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    flex-direction: row;
}

.right {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: #f2f2f2;
    border-top: 1px solid #dadada;
    height: 40px;
}
footer a {
    color: gray;
    text-decoration: none;
    margin: 16px;
    margin-top: 8px;
}